$fontsize: 0.5rem;
* {
  margin: 0;
  padding: 0;
  background-color: black ;
}
.borderwhite {
//  border: solid 1px white ;
}
.borderred {
  border: solid 1px red;
}
.borderblue {
  border: solid 1px blue ;
}
.borderyellow {
  border: solid 1px yellow;
}

.maindiv {
  position: relative;
  width: 70%;
  height: 500px;
}

.circle {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  /* left: 10%; */
//  border-radius: 50%;
  background-color: white;}
.face {
  position: relative;
      width: 98%;
      height: 98%;
      display: block;
      /* left: 10%; */
//      border-radius: 50%;
      /* background-color: white; */
      left: 1%;
      top: 1%;
}
.secface {
  position: relative;
  border-radius: 50%;
  width: 94%;
  height: 94%;
  display: block;
  left: 2%;
  top: 2%;
  box-sizing: border-box;
}

.minface {
  position: relative;
  border-radius: 50%;
  width: 74%;
  height: 74%;
  display: block;
  left: 13%;
  top: 10%;
}
.hourface {
  position: relative;
  border-radius: 50%;
  width: 74%;
  height: 74%;
  display: block;
  left: 13%;
  top: 6%;
}

.second {
  display: block;
  width: 10px;
  height: 10px;
//  border-radius: 50%;
  background-color: red;
  position: relative;
  /* top: 10%; */
  left: 50% ;
  .digital-sec {
    font-size: $fontsize;
    color: white;
    background-color: red;
    z-index: 1;
  }

}
.min {
  display: block;
  width: 20px;
  height: 20px;
//  border-radius: 50%;
  background-color:  blue;
  position: relative;
  left: 49.3%;
  .digital-min {
    font-size: $fontsize;
    color: white;
    background-color: blue;
    z-index: 2;
  }
}
.hour {
  display: block;
  width: 25px;
  height: 25px;
//  border-radius: 50%;
  background-color: yellow;
  position: relative;
  left: 49%;
  .digital-hour {
    font-size: $fontsize;
    color: darkgreen;
    background-color: yellow;
    text-align: center;
    z-index: 3;
  }
}
